/*Lower form from the nav bar.*/
form {
  margin-top: 5vh;
}
/*style the input text fields */
input[type="text"] {
  width: 10%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/*Style the checkbox fields in order*/
input[type="checkbox"] {
  margin-right: 10px;
}
/*change color of checkbox when checked to fit color theme*/
input[type="checkbox"]:checked {
  background-color: #4b7f52;
}

form input[type="text"]{
  display: inline-block;
  width: 30%;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}
/*size the labels*/
label {
  display: inline-block;
  width: 170px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 5px;
}

/*size the fieldset labels*/
fieldset label {
  display: block;
  white-space: no-wrap;
  width: 170px;
  flex: 1;
  text-align: left;
  margin-bottom: 5px;
}